.line{
    width: 2px;
    height: 25px;
    margin-right: 25px;
    background-color: #6699ff;
}
.active{
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}
.side-icon{
    padding: 10px;
    cursor: pointer;
}
.sider-last{
    position: relative;
    top: 215px;
}
@media only screen and (max-width: 768px){
    .line{
        margin-right: 10px;
    }
    .sider-last{
        top:30px
    }
}
@media only screen and (max-width: 500px){
    .line{
        margin-right: 0px;
    }
}


